.h1 {
  font-size: 2.0rem;
  margin: 1rem 0 0.75rem 0;
  text-align: center;
}

.h2 {
  font-size: 1.75rem;
  margin: .75rem 0 0.5rem 0;
  text-align: center;
}

.h3 {
  font-size: 1.5rem;
  margin: .5rem 0 0.25rem 0;
  text-align: center;
}
