/* These are needed for the smooth entering 
 and exiting transitions of all urls and inputs
-------------------------------------------*/

html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}

.point-enter {
  opacity: 0.01;
  transform: translate(-40px, 0)
}

.point-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 250ms ease-in;
}

.point-exit {
  opacity: 1;
  transform: translate(0, 0)
}

.point-exit-active {
  opacity: 0.01;
  transform: translate(40px, 0);
  transition: all 100ms ease-in;
}

.load-enter {
  opacity: 0.01;
  transform: translate(-40px, 0)
}

.load-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 250ms ease-in;
}

.load-exit {
  opacity: 1;
  transform: translate(0, 0)
}

.load-exit-active {
  opacity: 0.01;
  transform: translate(40px, 0);
  transition: all 100ms ease-in;
}
