files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/00_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "set post /tmp permissions start"
      sudo chown -R nodejs:nodejs /tmp/.npm
      sudo chown -R nodejs:nodejs /tmp/.config
      sudo chmod -R 755 /tmp/.config
      echo "set /tmp permissions done"
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_set_tmp_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "set pre /tmp permissions start"
      mkdir -p /tmp/.npm
      mkdir -p /tmp/deployment
      chmod -R 777 /tmp/.npm
      chmod -R 777 /tmp/deployment
      rm -r /tmp/deployment/application/node_modules/dtrace-provider/build
      ls -al /tmp/.npm/
      pwd
      echo "set node_modules permissions done"