.div {
  display: flex;
  vertical-align: middle;
  align-content: start;
  text-align: center;
  justify-content: center;
  padding: 1px;
}

.row {
  composes: div;
  flex-flow: row wrap;
  flex: initial;
}

.column {
  composes: div;
  flex-flow: column;
  flex: 1;
  text-align: center;
  justify-content: flex-start;
}

.divLeft {
  composes: div;
  text-align: right;
  justify-content: right;
}

.divRight {
  composes: div;
  text-align: left;
  justify-content: left;
}
