on:
  push:
    tags:
      - guide-latest

name: Release
jobs:
  create-release:
    name: Update guide
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Add Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          target: wasm32-unknown-unknown
          toolchain: stable
          override: true
      - name: Add Node.js toolchain
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Build Results Viewer and Book
        run: |
          set -x
          # install mdbook and wasm-pack
          mkdir ~/bin
          PATH=$PATH:~/bin
          curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.4.18/mdbook-v0.4.18-x86_64-unknown-linux-gnu.tar.gz \
            | tar -xz -C ~/bin
          curl -sSL https://github.com/rustwasm/wasm-pack/releases/download/v0.10.3/wasm-pack-v0.10.3-x86_64-unknown-linux-musl.tar.gz \
            | tar -xz --strip-components=1 -C ~/bin --no-anchored wasm-pack

          # setup some envs to various paths for convenience
          PROJECT_ROOT=$PWD
          GUIDE_DIR=$(realpath $PROJECT_ROOT/guide)
          RESULTS_VIEWER_DIR=$(realpath $GUIDE_DIR/results-viewer)
          RESULTS_VIEWER_REACT_DIR=$(realpath $GUIDE_DIR/results-viewer-react)
          WASM_LIB_DIR=$(realpath $PROJECT_ROOT/lib/hdr-histogram-wasm)
          WASM_OUTPUT_DIR=$RESULTS_VIEWER_DIR/lib/hdr-histogram-wasm
          WASM_OUTPUT_REACT_DIR=$RESULTS_VIEWER_REACT_DIR/lib/hdr-histogram-wasm

          # build the hdr-histogram-wasm for the results viewer
          cd $WASM_LIB_DIR
          wasm-pack build --release -t web -d $WASM_OUTPUT_DIR --scope fs
          wasm-pack build --release -t bundler -d $WASM_OUTPUT_REACT_DIR --scope fs
          cd $WASM_OUTPUT_DIR
          sed -i 's/input = .*import\.meta\.url.*/import(".\/hdr_histogram_wasm_bg.wasm");\n        input = require.resolve(".\/hdr_histogram_wasm_bg.wasm")[0][0];/' hdr_histogram_wasm.js

          # build the results viewer (which includes putting the output into the book's src)
          cd $RESULTS_VIEWER_DIR
          npm ci
          npm run build

          cd $RESULTS_VIEWER_REACT_DIR
          npm ci
          npm run build

          # build the book
          cd $GUIDE_DIR
          mdbook build

      - name: Update gh-pages branch and push to Github
        run: |
          git fetch --no-tags origin gh-pages
          cd guide
          # create a git worktree of the gh-pages branch and clear it out
          git worktree add -B gh-pages gh-pages origin/gh-pages
          find gh-pages -not -name '.git' -not -name 'gh-pages' -delete

          # copy the source to the gh-pages worktree
          cp -r book/. gh-pages/

          # commit amend all the changes into the gh-pages branch and force push to github
          git remote add github "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
          cd gh-pages
          git add --all

          git config --global user.name ${GITHUB_ACTOR}
          git config --global user.email ${GITHUB_ACTOR}@users.noreply.github.com

          git commit --amend --no-edit
          git push --force github gh-pages